<settings version="2">
    <setting id="RemenberQuery" default="true">true</setting>
    <setting id="IdiomaCalidad" default="true">true</setting>
    <setting id="NextEpisode" default="true">true</setting>
    <setting id="follow-up3" default="true">true</setting>
    <setting id="hide_watched" default="true">true</setting>
    <setting id="moviesUnfinished" default="true">true</setting>
    <setting id="hideUnfinished" default="true">30</setting>
    <setting id="MenuColor" default="true">30251</setting>
    <setting id="LabelColor" default="true">30215</setting>
    <setting id="TituloColor" default="true">30344</setting>
    <setting id="QltColor" default="true">30254</setting>
    <setting id="AudioColor" default="true">30329</setting>
    <setting id="DateColor" default="true">30329</setting>
    <setting id="ServerColor" default="true">30344</setting>
    <setting id="Alldebrid_enabled" default="true">false</setting>
    <setting id="Alldebrid_onlyOrigin" default="true">false</setting>
    <setting id="Alldebrid_apikey" default="true" />
    <setting id="Realdebrid_enabled" default="true">false</setting>
    <setting id="Realdebrid_token" default="true" />
    <setting id="Realdebrid_refresh_token" default="true" />
    <setting id="trakt_enabled" default="true">false</setting>
    <setting id="trakt_user_lists" default="true">true</setting>
    <setting id="probAddRanting" default="true">40</setting>
    <setting id="trakt_access_token" default="true" />
    <setting id="parental_passw" default="true">24496a55ec9aa808b1154eb16a67a61e</setting>
    <setting id="parental_enabled" default="true">true</setting>
    <setting id="OrderYear" default="true"> order by titulo COLLATE latin1</setting>
    <setting id="OrderGenre" default="true"> order by titulo COLLATE latin1</setting>
    <setting id="OrderQuality" default="true"> order by updated desc</setting>
    <setting id="OrderSpecial" default="true"> order by titulo COLLATE latin1</setting>
    <setting id="debug_enabled" default="true">false</setting>
    <setting id="PalCO" default="true">2024-04-11T19:19:42.376617+00:00</setting>
</settings>
